body {
    font-family: Arial, sans-serif;
  }
  
  .registration-form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registration-form form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-form label {
    margin-bottom: 5px;
  }
  
  .registration-form input[type="text"],
  .registration-form input[type="number"],
  .registration-form input[type="tel"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .registration-form button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .registration-form button:hover {
    background-color: #333;
  }
  